{% extends 'base.html' %}

{% block content %}

    {% if current_user.is_authenticated() %}
    <h1><img src="/static/images/{{ up.photo }}" alt="user profile image" width="80px"/> hello <a href="/users/{{ current_user.id }}/profile">{{ current_user.username }}!</a></h1>
    <a href="entries">My food/moods!<br />
    <a href="/entries/add"><button type="button" class="btn-add">Add!</button></a>
    {% else %}
    <h1>Welcome to Food Mood</h1>
    <p> 
        <a href="/login">Login</a><br />
        <a href="/users/register">Sign Up Here!</a>
    </p>
    {% endif %}

{% endblock %}
